.auth-wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/assets/images/tradingbg2.jpg');
    position: relative;

    &::after {
        content: "";
        background: rgb(220, 20, 60, 0.3);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .auth-container {
        position: relative;
        width: 100%;
        max-width: 600px;
        height: auto;
        display: flex;
        background: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        z-index: 9;
        .login-text {
            position: relative;
            width: 100%;
            color: #ffffff;
            text-align: center;
            p{
                letter-spacing: 1px;
            }
            .btn {
                display: inline-block;
                padding: 7px 20px;
                font-size: 16px;
                letter-spacing: 1px;
                text-decoration: none;
                border-radius: 16px;
                background-color: #ffffff;
                outline: none;
                color: #191970;
                margin-top: 20px;
            }
    
            .btn:hover {
                background: linear-gradient(195deg, #EC407A 0%, #d15454 100%);
                color: #fff;
            }
        }
        

        .col-left,
        .col-right {
            width: 55%;
            padding: 45px 35px;
            display: flex;
        }

        .col-left {
            width: 45%;
            background: linear-gradient(195deg, #EC407A 0%, #000000 100%);
            clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
        }
        .login-form {
            position: relative;
            width: 100%;
            color: #666666;
            h2{
                color: #000;
                letter-spacing: 1px;
            }
            p{
                margin-bottom: 1.5rem;
                a{
                    color: #191970;
                    margin-right: 10px;
                }
            }
                        
            input {
                display: block;
                width: 100%;
                height: 40px;
                padding: 0 10px;
                font-size: 16px;
                letter-spacing: 1px;
                outline: none;
                border: 1px solid #cccccc;
                border-radius: 5px;
                &:focus{
                    border-color: #ff574e;
                }
            }
            span.invalid-field {
                color: red;
                font-size: .7rem;
            }
        }
    }
}




















