

<!-------------------Exchange-Accounts---------------------->
<div class="size40"></div>
<div class="tfc-admin-main">
    <div class="tfc-admin-left">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'users.title' | translate }}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type= "ball-scale-multiple" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>

                <div class="accountTable">
                    <table class="tfcTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{'users.email' | translate }}</th>
                                <th>{{'users.Role' | translate }}</th>
                                <th>{{'users.Status' | translate }}</th>
                                <th>{{'users.Username' | translate }}</th>
                                <th>{{'users.UserID' | translate }} </th>
                                <th>{{'users.Action' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="users">
                            <tr *ngFor="let items of users ;  let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{items.email}}</td>
                                <td>{{items.role}}</td>
                                <td>{{items.status }}</td>
                                <td>{{items.username}}</td>
                                <td>{{items._id }}</td>
                                <td class="btnList">
                                    <button class="tfcbtnone" (click)="updateRole(items)"> {{'users.Role' | translate }}</button>
                                    <span class="" (click)="editUsers(items)"> <mat-icon>edit</mat-icon></span>
                                    <span class="" (click)="deleteUser(items)"><mat-icon>delete</mat-icon></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 *ngIf="!users" class="nodata">{{'nodataFound' | translate }} </h4>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="tfcOverlay userModal" *ngIf="userModal">
    <div class="changePrefrence cnfrmDialog">
        <div class="dialoghead">
            <h3>{{'users.modalTitle' | translate }}</h3>
            <img (click)="cancelDialog()" src="assets/image/cross.svg" alt="close-arrow" />
        </div>
        <div class="dialogbody">
            <mat-form-field>
                <mat-select [(ngModel)]="userRole">
                    <mat-option value="user">User</mat-option>
                    <mat-option value="admin">Admin</mat-option>
                </mat-select>
            </mat-form-field>
            <p>{{'users.modalSubTitle' | translate }}</p>
        </div>
        <div class="dialogfoot">
            <button class="change tfcbtntwo" (click)="confirmDialog()">{{'tableColumn.confirm' | translate }}</button>
            <button class="cancel tfcbtnone" (click)="cancelDialog()">{{'tableColumn.cancel' | translate }}</button>
        </div>
    </div>
</div>


<div class="tfcOverlay editModal" *ngIf="editUser">
    <div class="changePrefrence cnfrmDialog">
        <div class="dialoghead">
            <h3>Edit user</h3>
            <img (click)="cancelEditDialog()" src="assets/image/cross.svg" alt="close-arrow" />
        </div>
        <div class="dialogbody">
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit(editUserForm)">
                <p>
                    <input type="email" formControlName="email" placeholder="Email" class="tfc-input">
                    <span *ngIf="submitted && f['email'].errors" class="invalid-field">
                        <span *ngIf="f['email'].errors['required']">Email is required</span>
                        <span *ngIf="f['email'].errors['email']">Email must be a valid email address</span>
                      </span>
                </p>
                  
                <p>
                    <input type="password" formControlName="password" class="form-control tfc-input" 
                        placeholder="Password">
                        <span *ngIf="submitted && f['password'].errors" class="invalid-field">
                            <div *ngIf="f['password'].errors['minlength']">Password must contain at least 6 characters.</div>
                        </span>
                </p> 
                
                <p>
                    <button type="submit" class="tfc-submit-login tfcbtnone">Continue</button>
                </p>
            </form>
        </div>
    </div>
</div>