<div class="accountTable">
    <table class="tfcTable">
        <thead>
            <tr>
                <th>{{'myorder.contracts' | translate}}</th>
                <th>{{'myorder.side' | translate}}</th>
                <th>{{'myorder.qty' | translate}}</th>
                <th>{{'myorder.value' | translate}}</th>
                <th>{{'myorder.entryprice' | translate}}</th>
                <th>{{'myorder.markprice' | translate}} </th>
                <th>{{'myorder.liqprice' | translate}}</th>
                <th>{{'myorder.realizedp&l' | translate}}</th>
                <th>{{'myorder.tpsl' | translate}}</th>
                <th>{{'tableColumn.action' | translate}}</th>
            </tr>
        </thead>

        <tbody *ngIf="position && position.length > 0">
            <tr *ngFor="let items of position">
                <td><span>{{items.symbol}}</span></td>
                <td>{{items.side}}</td>
                <td>{{items.size}}</td>
                <td>{{ items.positionValue | number : '1.2-2'}}</td>
                <td> {{ items.avgPrice | number : '1.2-2'}}</td>
                <td> {{ items.markPrice | number : '1.2-2'}}</td>
                <td> {{ items.liqPrice | number : '1.2-2'}}</td>
                <td> {{ items.unrealisedPnl | number : '1.2-2'}} USDT</td>
                <td><span *ngIf="items.takeProfit">{{items.takeProfit}}
                        / </span>
                    <span *ngIf="items.stopLoss"> {{items.stopLoss}}</span>
                    <span *ngIf="items.orderId == items.orderParentId" class="editOrder" (click)="editTPSLModal(items, 'position')"><mat-icon>edit</mat-icon></span>

                </td>

                <td>
                    <p *ngIf="items.orderId == items.orderParentId" style="display:flex;"><button mat-raised-button (click)="limitClose(items)">{{'Placeorderform.Limit' | translate}}</button><button
                        (click)="marketClose(items)" mat-raised-button>{{'myorder.market' | translate}}</button></p>
                        <span *ngIf="items.orderId != items.orderParentId">N/A</span>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 *ngIf="!position || position.length == 0 " class="nodata">{{'nodataFound' | translate }} </h4>
</div>


<!-- Limit Close -->
<div class="tfcOverlay" *ngIf="limitModel">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.limitclose' | translate}}</h3>

            <div class="fields">
                <label>{{'myorder.closingpriceusdt' | translate}}</label>
                <input [(ngModel)]="limitPrice" type="number">
            </div>
            <div class="fields">
                <label>{{'myorder.closedqty' | translate}}</label>
                <input [(ngModel)]="limitQty" type="number" readonly>
            </div>
            <div class="fields buttonGroups">
                <button (click)="calcLimit(10)" value="10">10%</button>
                <button (click)="calcLimit(25)" value="25">25%</button>
                <button (click)="calcLimit(50)" value="50">50%</button>
                <button (click)="calcLimit(75)" value="75">75%</button>
                <button (click)="calcLimit(100)" value="100">100%</button>
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="closeWithLimit()">{{ btnloading ? 'Loading...' : 'Update'}}</button>
                <button class="tfcbtnone cancel" (click)="closeLimitModel()">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<!-- Market close -->
<div class="tfcOverlay" *ngIf="marketModel">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.marketclose' | translate}} </h3>
            <div class="fields">
                <label>{{'myorder.closedqty' | translate}} </label>
                <input [(ngModel)]="limitQty" type="number" readonly>
            </div>
            <div class="fields buttonGroups">
                <button (click)="calcLimit(10)" value="10">10%</button>
                <button (click)="calcLimit(25)" value="25">25%</button>
                <button (click)="calcLimit(50)" value="50">50%</button>
                <button (click)="calcLimit(75)" value="75">75%</button>
                <button (click)="calcLimit(100)" value="100">100%</button>
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="closeWithMarket()">{{ btnloading ? 'Loading...' : 'Update'}}</button>
                <button class="tfcbtnone cancel" (click)="closeMarketModel()">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>




<div class="tfcOverlay" *ngIf="editOrderModal">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.EditTPSL'}}</h3>
            <div class="orderDetails">
                <div class="">
                    <span>{{'Placeorderform.orderprice'}}</span>
                    <span>{{currentOrder.markPrice | number : '1.2-2'}}</span>
                </div>
            </div>
            <div class="fields">
                <label>{{'myorder.takePBP'}}</label>
                <input [(ngModel)]="takeProfit" type="number">
            </div>
            <div class="fields">
                <label>{{'myorder.StopLbP' | translate}}</label>
                <input [(ngModel)]="stopLoss" type="number" (keyup)="calculateStopLoss()">
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="UpdateTPSL()">{{ btnloading ? 'Loading...' : 'Update'}}</button>
                <button class="tfcbtnone cancel" (click)="editOrderModal = !editOrderModal">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>