@import "../../../style/variable";

.footer-content {
    background: rgb(4, 17, 51) !important;
    width: 100%;
    padding-top: 80px;
    .tfc-footer {
        color: aliceblue;
        text-align: center;
        h3{
            font-size: $size-16;
            font-weight: 600;
            padding: 6px 0 0 0;
            color: $secondaryColor;
        }
        p{
            font-size: $size-20;
            margin-bottom: $size-24;
        }
        .social-icon {
            display: flex;
            gap: 10px;
            margin-top: 30px;
            justify-content: center;
            .fb-icon {
                width: 24px;
                height: 24px;
                img{
                    width: 100%;
                }
            }
        }       
    }


    .footer-line {
        width: 100%;
        height: 2px;
        background: rgb(12, 24, 57);
        margin: 56px 0px 0px;
    }
    .tfc-copyright {
        padding: 20px 0 45px 0;
        text-align: center;
        .tfc-limit{
            color: #fff;
        }
    }
}





