<footer>
    <div class="footer-content">
        <div class="container">
            <div class="footer-menu-logo">
                <div class="tfc-footer">
                    <div class="add-tfc-page">
                        <p>Feel free to contact us:</p>
                        <h3>hello@mksignal.com</h3>
                        <div class="social-icon">
                            <div class="fb-icon">
                                <img src="assets/image/a1.svg" alt="image" class="fix-image" />
                            </div>
                            <div class="fb-icon">
                                <img src="assets/image/a2.svg" alt="image" class="fix-image" />
                            </div>
                            <div class="fb-icon">
                                <img src="assets/image/a3.svg" alt="image" class="fix-image" />
                            </div>
                            <div class="fb-icon">
                                <img src="assets/image/a4.svg" alt="image" class="fix-image" />
                            </div>
                            <div class="fb-icon">
                                <img src="assets/image/a5.svg" alt="image" class="fix-image" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-line"></div>
                <div class="tfc-copyright">
                    <div class="tfc-limit">©2023 Mksignal Solutions Limited</div>
                </div>
            </div>
        </div>
    </div>
</footer>