<div class="sidebar">
    <div class="app-logo sticky-top">Engineering Dashboard</div>
    <div class="app-sidenav">

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link dropdown-toggle collapsed" href="#releasesSubmenu" data-toggle="collapse"
                    aria-expanded="false">Product Releases</a>
                <ul class="list-unstyled collapse" id="releasesSubmenu" style="">
                    <li>
                        <a class="nav-link" href="#">Release A</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release B</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release C</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release D</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release E</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release F</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release A</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release B</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release C</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release D</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release E</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release F</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release A</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release B</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release C</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release D</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release E</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release F</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release A</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release B</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release C</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release D</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release E</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Release F</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Security</a>
            </li>
        </ul>

    </div>
</div>