.tfc-admin-main{
    .premium-tfc-text{
        h2{ 
            color: #000;
            margin-top: 30px;        }
        h4{
            color: #000;
        }
        p{
            color: #000;
            
        }
        .tfcbtnone{
            margin-top: 20px;
            display: inline-block;
        }
    }
}