
<!-------------------Exchange-Accounts---------------------->
<div class="size40"></div>
<div class="tfc-admin-main">
    <div class="tfc-admin-left">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'dashboard.title' | translate }}</h3>
            </div>
            <div class="tfc-card-body">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type= "ball-scale-multiple" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
                <div class="premium-tfc-text">
                    <h2>{{'dashboard.subtitle' | translate }}</h2>
                    <h4>
                        {{'dashboard.description' | translate }}
                    </h4>
                    <p> {{'dashboard.description-1' | translate }}</p>
                    <p>{{'dashboard.description-2' | translate }}</p>
                    <p> {{'dashboard.description-3' | translate }}</p>
                    <p> {{'dashboard.description-4' | translate }}</p>
                    <p> {{'dashboard.description-5' | translate }}</p>
                    <p> {{'dashboard.description-6' | translate }}</p>
                    <p> {{'dashboard.description-7' | translate }}</p>
                    <p> {{'dashboard.description-8' | translate }}</p>
                    <a *ngIf="!dataSource" class="tfcbtnone" [routerLink]="['exchangeaccount']">{{'dashboard.connectBtn' | translate }}</a>
                    <a *ngIf="dataSource" class="tfcbtnone" [routerLink]="['strategieslist']">{{'dashboard.subscribeBtn' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

