<div class="wave-banner">
    <div class="wave-box">
      <div class="container">
          <div class="wave-text">
              <h2>Strategies to Copy</h2>
              <p class="tfc-wave-color">Choose from a wide range of unique strategies submitted by carefully <br/>selected crypto traders with verified track records.</p>
          </div>
          <div class="tfc-card-body accountInfo">
            <div  class="accountTable">
                <table class="tfcTable">
                    <thead>
                        <tr>
                            <th>Strategy</th>
                            <th>Base Coin</th>
                            <th>Exchange/Type</th>
                            <th>Subs</th>
                            <th>Risk</th>
                            <th>Copying</th>
                            <th>Signals</th>
                            <th>Balance</th>
                            <th>Rating</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <td>AlphaGrow - Algorithmic trading</td>
                            <td>USDT</td>
                            <td>Binance</td>
                            <td>263</td>
                            <td>2.2</td>
                            <td>0$</td>
                            <td>0$</td>
                            <td>485$</td>
                            <td>9.6</td>
                            <td>70%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="view-all-btn">
                    <a class="tfcbtn tfcbtnthree" href="#">View All</a>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>



