<div class="accountTable">
    <table class="tfcTable">
        <thead>
            <tr>

                <th>{{'myorder.contracts' | translate}}</th>
                <th>{{'myorder.side' | translate}}</th>
                <th>{{'myorder.qty' | translate}}</th>
                <th>{{'myorder.value' | translate}}</th>
                <th>{{'Placeorderform.orderType' | translate}}</th>
                <th>{{'myorder.tpsl' | translate}}</th>
                <th>{{'myorder.orderNo' | translate}}</th>
                <th>{{'myorder.CreatedTime' | translate}}</th>
                <th>{{'tableColumn.action' | translate}}</th>
            </tr>
        </thead>

        <tbody *ngIf="currentOrder && currentOrder.length > 0">
            <tr *ngFor="let items of currentOrder; ; let i = index">
                <td><span>{{items.symbol}}</span></td>
                <td>{{items.side}}</td>
                <td>{{items.qty}}</td>
                <td>{{ items.price}} <span *ngIf="items.orderId == items.orderParentId" class="editOrder"
                    (click)="editOrderPrice(items)"><mat-icon>edit</mat-icon></span></td>
                <td>{{ items.orderType}}</td>
                <td><span *ngIf="items.takeProfit">{{items.takeProfit}}
                            / </span>
                        <span *ngIf="items.stopLoss"> {{items.stopLoss}}</span>
                        <span *ngIf="items.orderId == items.orderParentId" class="editOrder"
                            (click)="editTPSLModal(items)"><mat-icon>edit</mat-icon></span>
                    
                </td>
                <td>{{items.orderId.slice(-12)}}</td>
                <td>{{items.createdTime | date:'dd/MM/yyyy'}}</td>
                <td>
                    <mat-form-field *ngIf="items.orderId == items.orderParentId">
                        <mat-label>Cancel Order</mat-label>
                        <mat-select [(ngModel)]="selectedValues[i]" (selectionChange)="onSelectionChange($event, items, i)">
                            <!-- <mat-option value="cancelself">Cancel Self</mat-option> -->
                            <mat-option value="cancelall">{{'myorder.CancelAll' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="items.orderId != items.orderParentId">N/A</span>
                </td>

            </tr>
        </tbody>
    </table>
    <h4 *ngIf="currentOrder && currentOrder.length == 0" class="nodata">{{'nodataFound' | translate }} </h4>
</div>



<div class="tfcOverlay" *ngIf="cancelOrderModal">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.CancelOrder' | translate}}</h3>
            <div class="orderDetails">
                <div class="">
                    <span>{{'myorder.cancelInfo' | translate}}</span>
                </div>
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="cancelOrder()">{{ btnloading ? 'Loading...' : 'Change'}}</button>
                <button class="tfcbtnone cancel" (click)="closeCancelOrder()">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>


<div class="tfcOverlay" *ngIf="editOrderModal">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.EditTPSL' | translate}}</h3>
            <div class="orderDetails">
                <div class="">
                    <span>{{'Placeorderform.orderprice' | translate}}</span>
                    <span>{{editorderData.lastPriceOnCreated | number : '1.2-2'}}</span>
                </div>
            </div>
            <div class="fields">
                <label>{{'myorder.takePBP' | translate}}</label>
                <input [(ngModel)]="takeProfit" type="number">
            </div>
            <div class="fields">
                <label>{{'myorder.StopLbP' | translate}}</label>
                <input [(ngModel)]="stopLoss" type="number">
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="UpdateTPSL()">{{ btnloading ? 'Loading...' : 'Update'}}</button>
                <button class="tfcbtnone cancel" (click)="editOrderModal = !editOrderModal">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>



<div class="tfcOverlay" *ngIf="editOrderPriceModal">
    <div class="takeProfitLoss cnfrmDialog">
        <div class="profitTitle">
            <h3>{{'myorder.editlimitprice' | translate}}</h3>
            <div class="orderDetails">
                <div class="">
                    <span>{{'myorder.OrderMarketPrice' | translate}}</span>
                    <span>{{editorderData.lastPriceOnCreated | number : '1.2-2'}}</span>
                </div>
            </div>
            <div class="fields">
                <label>{{'myorder.takePBP' | translate}}</label>
                <input [(ngModel)]="editLimitPrice" type="number">
            </div>
            <div class="dialogfoot">
                <button class="tfcbtntwo change" (click)="updateLimitOrderPrice()">{{ btnloading ? 'Loading...' : 'Update'}}</button>
                <button class="tfcbtnone cancel" (click)="editOrderPriceModal = !editOrderPriceModal">{{'tableColumn.cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>