
<!-------------------Exchange-Accounts---------------------->
<div class="size40"></div>
<div class="tfc-admin-main">
    <div class="tfc-admin-left">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'analytics.title' | translate}}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type= "ball-scale-multiple" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>
                <div class="accountTable">
                    <table class="tfcTable">
                        <thead>
                            <tr>
                                <th>{{'tableColumn.tableStrategy' | translate}}</th>
                                <th>{{'tableColumn.tableBase-Coin' | translate}}</th>
                                <th>{{'tableColumn.tableExchange' | translate}}</th>
                                <th>{{'tableColumn.tableType' | translate}}</th>
                                <th>{{'tableColumn.tableRisk' | translate}}</th>
                                <th>{{'tableColumn.tableSubs' | translate}}</th>
                                <th>{{'tableColumn.tableBalance' | translate}}</th>
                                <th>{{'tableColumn.Rating' | translate}}</th>
                                <th>{{'analytics.viewDetail' | translate}} </th>
                                
                            </tr>
                        </thead>
                        <tbody *ngIf="dataSource">
                            <tr *ngFor="let items of dataSource">
                                <td>{{items.strategyName}}</td>
                                <td>{{items.baseCoin}}</td>
                                <td>{{ items.exchange}}</td>
                                <td>{{ items.type === 'linear' ? 'Futures' : items.type }}</td>
                                <td>{{items.riskLimitValue}} %</td>
                                <td>{{items.copysubscription.length}}</td>
                                <td>{{items.totalWalletBalance | number : '1.2-2'}}</td>
                                <td>9.5</td>
                                <td><a class="tfcbtnone" [routerLink]="['/admin/detail/', items._id]">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 *ngIf="!dataSource" class="nodata">{{'nodataFound' | translate }}</h4>
                </div>
            </div>
        </div> 
    </div>
</div>

