<div class="herobanner">
    <div class="container">
        <div class="banner">
            <div class="banner-text">
                <h2>Successful Crypto Trading Performance on Autopilot</h2>
                <p class="tfc-color-add">MKsignal copy trading service allows copying deals made by traders
                    and trading bots, as well as receive signals from verified strategies.</p>
                <a class="tfcbtn tfcbtnthree" href="#">Start Copy Trading</a>
            </div>
            <div class="banner-image">
            </div>
        </div>
    </div>
</div>

