.tfc-card-body{
    .user-profile{
        .card-block{
           padding: 25px;
        }
        label{
            font-weight: 500;
            color:#000;
        }
        h3{
            color:#000;
        }
        h5{
            color:#000;
            font-size: 16px;
        }
        p{
            color: rgb(67, 4, 241);
        }
    }
}