<!-------------------Exchange-Accounts---------------------->
<div class="size40"></div>
<div class="tfc-admin-main">
    <div class="tfc-admin-left">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'exchangeaccounts.title' | translate }}</h3>
            </div>
            <div class="tfc-card-body">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <h4>{{'exchangeaccounts.balanceonallaccounts' | translate }}<span> <a class="tfc-replace-bg"
                            href="#">BTC</a>
                        <a class="" href="#">USDT</a></span></h4>
                <h2 class="tfc-coin-paneltrade">{{TotalBalance | number : '1.2-2'}} USDT</h2>
            </div>
        </div>
    </div>
    <div class="tfc-admin-right">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'exchangeaccounts.connectedaccounts' | translate }}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <h2 *ngIf="!dataSource" style="text-align: center;" class=""> {{'exchangeaccounts.noAccounts' |
                    translate }} </h2>
                <h2 *ngIf="dataSource" class="">1 {{'exchangeaccounts.accountsconnected' | translate }}</h2>
                <h4 *ngIf="dataSource" class="tfc-status">{{'exchangeaccounts.status' | translate }}</h4>
                <h2 *ngIf="dataSource" class="tfc-coin-paneltrade">{{'exchangeaccounts.active' | translate }}</h2>
                <div class="tfc-buttonAdd">
                    <button class="tfcbtnone" (click)="showModal()">{{'exchangeaccounts.accountsconnected' | translate
                        }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="size40"></div>
<div class="tfc-admin-main accountListInfo">
    <div class="accountList">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3> {{'exchangeaccounts.myaccounts' | translate }}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <div class="accountTable" *ngIf="!loading">
                    <table class="tfcTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{'exchangeaccounts.accountname' | translate }} </th>
                                <th>{{'exchangeaccounts.status' | translate }}</th>
                                <th>{{'tableColumn.tableExchange' | translate }}</th>
                                <th>{{'exchangeaccounts.APIkey' | translate }} </th>
                                <th>{{'exchangeaccounts.connectedtradetypes' | translate }} </th>
                                <th>{{'exchangeaccounts.balance' | translate }}</th>
                                <th>{{'exchangeaccounts.change' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataSource">
                            <tr *ngFor="let items of dataSource; ; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{items.connectionName}}</td>
                                <td> {{ items.accountType ? 'Active': 'Inactive' }}</td>
                                <td>Bybit</td>
                                <td>{{items.apiKey}}</td>
                                <td>Futures / Spot</td>
                                <td>{{items.totalWalletBalance | number : '1.2-2'}}</td>
                                <td>{{ calculateTotal(items.totalWalletBalance, items.balance) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 *ngIf="!dataSource" class="nodata">{{'nodataFound' | translate }} </h4>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="table-popup" *ngIf="showModals">
    <div class="tfc-table-box">
        <a class="fes-close-btn" (click)="hideModal()">
            <img src="assets/image/cross.svg" alt="close-arrow" />
        </a>
        <h2 class="modalTitle">{{'exchangeaccounts.modalTitle' | translate }}</h2>
        <div class="tfc-multi-steppage">
            <div class="fes-api-page" [ngClass]="{'active': wizardVal == 0}">
                <div class="fes-api-page-text">
                    <p>{{dataSource.lenth}} {{'exchangeaccounts.step' | translate }}</p>
                    <h4>{{'exchangeaccounts.CreateAccount' | translate }}</h4>
                </div>
                <div class="fes-api-icon">
                    <img src="assets/image/arrow-forward.svg" alt="arrow">
                </div>
            </div>
            <div class="fes-api-page" [ngClass]="{'active': wizardVal == 1}">
                <div class="fes-api-page-text">
                    <p>2 {{'exchangeaccounts.step' | translate }}</p>
                    <h4>{{'exchangeaccounts.CreateAPIKey' | translate }}</h4>
                </div>
                <div class="fes-api-icon">
                    <img src="assets/image/arrow-forward.svg" alt="arrow">
                </div>
            </div>
            <div class="fes-api-page" [ngClass]="{'active': wizardVal == 2}">
                <div class="fes-api-page-text">
                    <p>3 {{'exchangeaccounts.step' | translate }}</p>
                    <h4>{{'exchangeaccounts.EnterKey' | translate }}</h4>
                </div>
            </div>
        </div>
        <div class="fes-create-ac" *ngIf="wizardVal == 0">
            <div class="tfc-requirement">
                <h2>{{'exchangeaccounts.CreateAccount' | translate }}</h2>
                <p>{{'exchangeaccounts.Goto' | translate }} <a href="#">{{'exchangeaccounts.Bybitpage' | translate }}
                    </a>{{'exchangeaccounts.andcreateaccount' | translate }}</p>
                <p>
                    {{'exchangeaccounts.modalDisc1' | translate }}
                </p>
            </div>
            <div class="tfc-subaccount">
                <h2>{{'exchangeaccounts.Subaccount' | translate }}</h2>
                <p>
                    {{'exchangeaccounts.modalDisc2' | translate }}
                </p>
            </div>
        </div>

        <div class="fes-create-ac" *ngIf="wizardVal == 1">
            <div class="tfc-requirement">
                <h2> {{'publicstrategies.subTitle' | translate }}</h2>
                <p>1. {{'exchangeaccounts.modalDisc3' | translate }}</p>
                <p>2. {{'exchangeaccounts.modalDisc4' | translate }}</p>
                <p>3. {{'exchangeaccounts.modalDisc5' | translate }}</p>
                <ul class="fes-stop">
                    {{'exchangeaccounts.listTitle' | translate }}
                    <li> {{'exchangeaccounts.list1' | translate }}</li>
                </ul>
                <ul class="fes-stop">
                    {{'exchangeaccounts.listTitle2' | translate }}
                    <li> {{'exchangeaccounts.list2' | translate }}</li>
                    <li> {{'exchangeaccounts.list3' | translate }}</li>
                    <li> {{'exchangeaccounts.list4' | translate }}</li>
                </ul>
                <div class="fes-ip-copy">
                    <p>
                        4. {{'exchangeaccounts.modalDisc6' | translate }}
                    </p>
                </div>
                <div class="tfc-alert-show">
                    <div class="alert-error-logo">
                        <img src="assets/image/alert.svg" alt="alert-image">
                    </div>
                    <div class="alert-error-text">
                        <p>{{'exchangeaccounts.Payattention' | translate }}
                            <br>
                            {{'exchangeaccounts.modalDisc7' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="tfc-subaccount">
                <h2>{{'exchangeaccounts.Withdrawals' | translate }}</h2>
                <p>
                    {{'exchangeaccounts.modalDisc8' | translate }}
                </p>
            </div>
        </div>

        <div class="fes-create-ac" *ngIf="wizardVal == 2">
            <div class="tfc-requirement">
                <h2> {{'publicstrategies.subTitle' | translate }}</h2>
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm)">
                    <div class="fes-connection_form">
                        <label>{{'exchangeaccounts.NameConnection' | translate }}</label>
                        <input type="text" formControlName="connectionName"
                            placeholder="{{'exchangeaccounts.NameConnection' | translate }}">
                    </div>
                    <div class="fes-connection_form">
                        <label>{{'exchangeaccounts.Enterkey' | translate }}</label>
                        <input type="text" formControlName="apiKey"
                            placeholder="{{'exchangeaccounts.Enterkey' | translate }}">
                    </div>
                    <div class="fes-connection_form">
                        <label>{{'exchangeaccounts.Entersecretkey' | translate }}</label>
                        <input type="text" formControlName="secretKey"
                            placeholder="{{'exchangeaccounts.Entersecretkey' | translate }}">
                    </div>
                    <button *ngIf="!loading" #myButton type="submit"
                        class="tfc-submit-login tfcButton">{{'exchangeaccounts.Continue' | translate }}</button>
                </form>
            </div>
            <div class="tfc-subaccount">
                <h2>{{'myStrategies.secretkey' | translate}}Secret Key</h2>
                <p>
                    {{'exchangeaccounts.modalDisc9' | translate }}
                </p>
            </div>
        </div>




        <div class="fes-back_to_start-btn">
            <button *ngIf="wizardVal != 0" type="button" class="tfcbtn tfcbtnthree"
                (click)="prev(wizardVal)">{{'exchangeaccounts.Back' | translate }}</button>
            <button *ngIf="wizardVal != 2" type="button" class="tfcbtn tfcbtntwo"
                (click)="next( wizardVal)">{{'exchangeaccounts.nextStep' | translate }}</button>
            <button *ngIf="wizardVal == 2" type="button" class="tfcbtn tfcbtntwo" (click)="next( wizardVal)">{{
                btnloading ? 'Loading...' : 'Submit' }}</button>
        </div>
    </div>
</div>