<!-------------------Exchange-Accounts---------------------->
<div class="size40"></div>
<div class="tfc-admin-main">
    <div class="tfc-admin-left">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'myStrategies.title' | translate }}</h3>
            </div>
            <div class="tfc-card-body">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <div class="bodyInner">
                    <img src="assets/images/trading-bg.svg">
                    <h3 *ngIf="!dataSource">{{'myStrategies.nostategiesadded' | translate }}</h3>
                    <p>{{'myStrategies.subtitle' | translate }}</p>
                    <button class="tfcbtnone" (click)="showModal()">{{'myStrategies.addstrategy' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tfc-admin-right">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'myStrategies.createStrategies' | translate }}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <div class="tfc-buttonAdd">
                    <a class="tfcbtnone" [routerLink]="['/admin/mystrategies']">{{'myStrategies.create' | translate
                        }}</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="size80"></div>
<div class="tfc-admin-main accountListInfo">
    <div class="accountList">
        <div class="tfc-card">
            <div class="tfc-card-title">
                <h3>{{'myStrategies.mystrategylist' | translate }}</h3>
            </div>
            <div class="tfc-card-body accountInfo">
                <div class="accountTable">
                    <table class="tfcTable">
                        <thead>
                            <tr>
                                <th>{{'tableColumn.tableStrategy' | translate }}</th>
                                <th>{{'tableColumn.tableBase-Coin' | translate }}</th>
                                <th>{{'tableColumn.tableExchange' | translate }}</th>
                                <th>{{'tableColumn.tableType' | translate }}</th>
                                <th>{{'tableColumn.tableRisk' | translate }}</th>
                                <th>{{'tableColumn.tableSubs' | translate }}</th>
                                <th>{{'tableColumn.tableBalance' | translate }}</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataSource">
                            <tr *ngFor="let items of dataSource">
                                <td>{{items.strategyName}}</td>
                                <td>{{items.baseCoin}}</td>
                                <td>{{ items.exchange}}</td>
                                <td>{{ items.type === 'linear' ? 'Futures' : items.type }}</td>
                                <td>{{items.riskLimitValue}} %</td>
                                <td>{{items.copysubscription.length}}</td>
                                <td>{{items.totalWalletBalance | number : '1.2-2'}}</td>
                                <td><button class="tfcbtnone" (click)="deleteStategy(items)">{{ btnloading ? 'Loading...' : 'Delete' }}</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 *ngIf="!dataSource" class="nodata">{{ 'nodataFound' | translate }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="table-popup strategiesBlock" *ngIf="showModals">
    <div class="tfc-table-box">
        <a class="fes-close-btn" (click)="hideModal()">
            <img src="assets/image/cross.svg" alt="close-arrow" />
        </a>
        <h2 class="modalTitle">{{ 'myStrategies.addnewstrategy' | translate }}</h2>
        <div class="fes-create-ac">
            <div class="tfc-requirement" *ngIf="!loading">
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm)">
                    <div class="fes-connection_form">
                        <label>{{ 'myStrategies.strategyname' | translate }}</label>
                        <input type="text" formControlName="strategyName" placeholder="Enter name">
                    </div>
                    <div class="blocks">
                        <div class="fes-connection_form ">
                            <label>{{ 'tableColumn.tableExchange' | translate }}</label>
                            <mat-form-field>
                                <mat-select formControlName="exchange">
                                    <mat-option value="Bybit">Bybit</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="fes-connection_form">
                            <label>{{ 'tableColumn.tableType' | translate }}</label>
                            <mat-form-field>
                                <mat-select formControlName="type">
                                    <mat-option value="Spot">Spot</mat-option>
                                    <mat-option value="linear">Futures</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="fes-connection_form">
                        <label>{{ 'myStrategies.connectedapikey' | translate }}</label>
                        <mat-form-field>
                            <mat-select formControlName="bybitaccount">
                                <mat-option *ngFor="let option of accountInfo" [value]="option._id">
                                    {{ option.connectionName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="fes-connection_form">
                        <label>{{ 'tableColumn.tableBase-Coin' | translate }}</label>
                        <mat-form-field>
                            <mat-select formControlName="baseCoin">
                                <mat-option value="USDT">USDT</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="fes-connection_form">
                        <label>{{ 'myStrategies.strategydescription' | translate }}</label>
                        <textarea rows="5" formControlName="strategyDescription"
                            placeholder="Provide information about the strategy: trading method / approach, trading term (short / medium / long), trading pair, coins traded, recommendations for investors, your trading experience, etc. This will help your potential subscribers learn more about your strategy. Make sure that you write a detailed and concise description of the strategy – otherwise, the strategy may not pass moderation."></textarea>
                    </div>

                    <div class="blocks">
                        <div class="fes-connection_form">
                            <label>{{ 'myStrategies.copytradingcost' | translate }}</label>
                            <input type="text" formControlName="copyTradingcost" placeholder="$ Per 30 days">
                        </div>
                        <div class="fes-connection_form">
                            <label>{{ 'myStrategies.riskpercentage' | translate }}</label>
                            <!-- <input type="text" [value]="inputField.value" placeholder="" readonly>
                            <mat-slider discrete="thumbLabel" min="1" max="10" step="1" value="1">
                                <input #inputField formControlName="riskLimitValue" matSliderThumb>
                            </mat-slider> -->

                            <ngx-slider formControlName="riskLimitValue" [(value)]="riskLimit" [options]="riskLimitVal"></ngx-slider>

                        </div>
                    </div>


                    <button type="submit" class="tfcbtn tfcbtnthree">{{ btnloading ? 'Loading...' : 'Submit' }}</button>
                </form>
            </div>
            <div class="tfc-subaccount">
                <h2>{{ 'myStrategies.secretkey' | translate }}</h2>
                <p> {{ 'myStrategies.keepinmindparagraph' | translate }}</p>
            </div>
        </div>
    </div>
</div>